In [1]:
import pandas as pd
p=pd.DataFrame({"yes": [50, 100, 20, 235], 'No': [45, 54, 6, 7]},
             index=["asd", "asd", "asd", "asd"])
out=p.to_csv("hey.csv")

data frame is just a json file with json array

In [2]:
pd.Series([1, 2, 3, 4, 5], index=["sad", "sad", "sad", "sad", "sad"])

sad    1
sad    2
sad    3
sad    4
sad    5
dtype: int64

series is a list but data frame is a table

In [3]:
filepath="melb_data.csv"
data=pd.read_csv(filepath) #specifying index column
print(data)

              Suburb           Address  Rooms Type      Price Method  \
0         Abbotsford      85 Turner St      2    h  1480000.0      S
1         Abbotsford   25 Bloomburg St      2    h  1035000.0      S
2         Abbotsford      5 Charles St      3    h  1465000.0     SP
3         Abbotsford  40 Federation La      3    h   850000.0     PI
4         Abbotsford       55a Park St      4    h  1600000.0     VB
...              ...               ...    ...  ...        ...    ...
13575  Wheelers Hill      12 Strada Cr      4    h  1245000.0      S
13576   Williamstown     77 Merrett Dr      3    h  1031000.0     SP
13577   Williamstown       83 Power St      3    h  1170000.0      S
13578   Williamstown      96 Verdon St      4    h  2500000.0     PI
13579     Yarraville        6 Agnes St      4    h  1285000.0     SP

        SellerG        Date  Distance  Postcode  ...  Bathroom  Car  Landsize  \
0        Biggin   3/12/2016       2.5    3067.0  ...       1.0  1.0     202.0
1        Biggin   4/02/2016       2.5    3067.0  ...       1.0  0.0     156.0
2        Biggin   4/03/2017       2.5    3067.0  ...       2.0  0.0     134.0
3        Biggin   4/03/2017       2.5    3067.0  ...       2.0  1.0      94.0
4        Nelson   4/06/2016       2.5    3067.0  ...       1.0  2.0     120.0
...         ...         ...       ...       ...  ...       ...  ...       ...
13575     Barry  26/08/2017      16.7    3150.0  ...       2.0  2.0     652.0
13576  Williams  26/08/2017       6.8    3016.0  ...       2.0  2.0     333.0
13577     Raine  26/08/2017       6.8    3016.0  ...       2.0  4.0     436.0
13578   Sweeney  26/08/2017       6.8    3016.0  ...       1.0  5.0     866.0
13579   Village  26/08/2017       6.3    3013.0  ...       1.0  1.0     362.0

       BuildingArea  YearBuilt  CouncilArea Lattitude  Longtitude  \
0               NaN        NaN        Yarra -37.79960   144.99840
1              79.0     1900.0        Yarra -37.80790   144.99340
2             150.0     1900.0        Yarra -37.80930   144.99440
3               NaN        NaN        Yarra -37.79690   144.99690
4             142.0     2014.0        Yarra -37.80720   144.99410
...             ...        ...          ...       ...         ...
13575           NaN     1981.0          NaN -37.90562   145.16761
13576         133.0     1995.0          NaN -37.85927   144.87904
13577           NaN     1997.0          NaN -37.85274   144.88738
13578         157.0     1920.0          NaN -37.85908   144.89299
13579         112.0     1920.0          NaN -37.81188   144.88449

                       Regionname Propertycount
0           Northern Metropolitan        4019.0
1           Northern Metropolitan        4019.0
2           Northern Metropolitan        4019.0
3           Northern Metropolitan        4019.0
4           Northern Metropolitan        4019.0
...                           ...           ...
13575  South-Eastern Metropolitan        7392.0
13576        Western Metropolitan        6380.0
13577        Western Metropolitan        6380.0
13578        Western Metropolitan        6380.0
13579        Western Metropolitan        6543.0

[13580 rows x 21 columns]

In [4]:
data.head() #first n row
data.tail() #last n row
data.shape #number of rows and columns
data.head()

,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,Postcode,...,Bathroom,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount
0,Abbotsford,85 Turner St,2,h,1480000.0,S,Biggin,3/12/2016,2.5,3067.0,...,1.0,1.0,202.0,NaN,NaN,Yarra,-37.7996,144.9984,Northern Metropolitan,4019.0
1,Abbotsford,25 Bloomburg St,2,h,1035000.0,S,Biggin,4/02/2016,2.5,3067.0,...,1.0,0.0,156.0,79.0,1900.0,Yarra,-37.8079,144.9934,Northern Metropolitan,4019.0
2,Abbotsford,5 Charles St,3,h,1465000.0,SP,Biggin,4/03/2017,2.5,3067.0,...,2.0,0.0,134.0,150.0,1900.0,Yarra,-37.8093,144.9944,Northern Metropolitan,4019.0
3,Abbotsford,40 Federation La,3,h,850000.0,PI,Biggin,4/03/2017,2.5,3067.0,...,2.0,1.0,94.0,NaN,NaN,Yarra,-37.7969,144.9969,Northern Metropolitan,4019.0
4,Abbotsford,55a Park St,4,h,1600000.0,VB,Nelson,4/06/2016,2.5,3067.0,...,1.0,2.0,120.0,142.0,2014.0,Yarra,-37.8072,144.9941,Northern Metropolitan,4019.0

In [5]:
data.iloc[1:4,1:2] # tells [{row index},{column index}] perfectly numric index will be perfect 0:4 -> 4

            Address
1   25 Bloomburg St
2      5 Charles St
3  40 Federation La

In [6]:
data.head()

,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,Postcode,...,Bathroom,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount
0,Abbotsford,85 Turner St,2,h,1480000.0,S,Biggin,3/12/2016,2.5,3067.0,...,1.0,1.0,202.0,NaN,NaN,Yarra,-37.7996,144.9984,Northern Metropolitan,4019.0
1,Abbotsford,25 Bloomburg St,2,h,1035000.0,S,Biggin,4/02/2016,2.5,3067.0,...,1.0,0.0,156.0,79.0,1900.0,Yarra,-37.8079,144.9934,Northern Metropolitan,4019.0
2,Abbotsford,5 Charles St,3,h,1465000.0,SP,Biggin,4/03/2017,2.5,3067.0,...,2.0,0.0,134.0,150.0,1900.0,Yarra,-37.8093,144.9944,Northern Metropolitan,4019.0
3,Abbotsford,40 Federation La,3,h,850000.0,PI,Biggin,4/03/2017,2.5,3067.0,...,2.0,1.0,94.0,NaN,NaN,Yarra,-37.7969,144.9969,Northern Metropolitan,4019.0
4,Abbotsford,55a Park St,4,h,1600000.0,VB,Nelson,4/06/2016,2.5,3067.0,...,1.0,2.0,120.0,142.0,2014.0,Yarra,-37.8072,144.9941,Northern Metropolitan,4019.0

In [7]:
data.loc[0:2,["Address","Rooms","Type"]] # loc is used when column names are avaliable indexing not perfect 0:4 -> 5

           Address  Rooms Type
0     85 Turner St      2    h
1  25 Bloomburg St      2    h
2     5 Charles St      3    h

In [8]:
data.loc[(data["SellerG"] == 'Biggin') & (data["Rooms"]==2)]

,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,Postcode,...,Bathroom,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount
0,Abbotsford,85 Turner St,2,h,1480000.0,S,Biggin,3/12/2016,2.5,3067.0,...,1.0,1.0,202.0,NaN,NaN,Yarra,-37.79960,144.99840,Northern Metropolitan,4019.0
1,Abbotsford,25 Bloomburg St,2,h,1035000.0,S,Biggin,4/02/2016,2.5,3067.0,...,1.0,0.0,156.0,79.0,1900.0,Yarra,-37.80790,144.99340,Northern Metropolitan,4019.0
9,Abbotsford,10 Valiant St,2,h,1097000.0,S,Biggin,8/10/2016,2.5,3067.0,...,1.0,2.0,220.0,75.0,1900.0,Yarra,-37.80100,144.99890,Northern Metropolitan,4019.0
12,Abbotsford,123/56 Nicholson St,2,u,750000.0,S,Biggin,12/11/2016,2.5,3067.0,...,2.0,1.0,0.0,94.0,2009.0,Yarra,-37.80780,144.99650,Northern Metropolitan,4019.0
13,Abbotsford,45 William St,2,h,1172500.0,S,Biggin,13/08/2016,2.5,3067.0,...,1.0,1.0,195.0,NaN,NaN,Yarra,-37.80840,144.99730,Northern Metropolitan,4019.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11979,Elsternwick,3/14 Sinclair St,2,u,834500.0,S,Biggin,29/07/2017,7.2,3185.0,...,1.0,2.0,538.0,92.0,2005.0,Glen Eira,-37.88295,145.00083,Southern Metropolitan,4898.0
12141,Richmond,712/8 Howard St,2,u,927000.0,S,Biggin,29/07/2017,2.4,3121.0,...,1.0,2.0,0.0,NaN,2000.0,Yarra,-37.83305,144.99745,Northern Metropolitan,14949.0
12549,Maidstone,19 Howard St,2,h,865000.0,S,Biggin,9/09/2017,6.4,3012.0,...,1.0,2.0,327.0,131.0,1950.0,NaN,-37.78947,144.88105,Western Metropolitan,3873.0
12830,Richmond,29 Type St,2,h,1200000.0,S,Biggin,16/09/2017,2.4,3121.0,...,1.0,NaN,135.0,86.0,1890.0,NaN,-37.82132,145.00973,Northern Metropolitan,14949.0
13079,West Footscray,28 Tucker St,2,h,855000.0,S,Biggin,19/08/2017,6.4,3012.0,...,1.0,1.0,332.0,NaN,NaN,NaN,-37.79136,144.87619,Western Metropolitan,5058.0

In [9]:
data.loc[data["SellerG"].isin(['Nelson'])]

,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,Postcode,...,Bathroom,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount
4,Abbotsford,55a Park St,4,h,1600000.0,VB,Nelson,4/06/2016,2.5,3067.0,...,1.0,2.0,120.0,142.0,2014.0,Yarra,-37.80720,144.99410,Northern Metropolitan,4019.0
6,Abbotsford,124 Yarra St,3,h,1876000.0,S,Nelson,7/05/2016,2.5,3067.0,...,2.0,0.0,245.0,210.0,1910.0,Yarra,-37.80240,144.99930,Northern Metropolitan,4019.0
7,Abbotsford,98 Charles St,2,h,1636000.0,S,Nelson,8/10/2016,2.5,3067.0,...,1.0,2.0,256.0,107.0,1890.0,Yarra,-37.80600,144.99540,Northern Metropolitan,4019.0
11,Abbotsford,40 Nicholson St,3,h,1350000.0,VB,Nelson,12/11/2016,2.5,3067.0,...,2.0,2.0,214.0,190.0,2005.0,Yarra,-37.80850,144.99640,Northern Metropolitan,4019.0
27,Abbotsford,48 Abbotsford St,3,h,1447500.0,PI,Nelson,22/08/2016,2.5,3067.0,...,3.0,1.0,166.0,174.0,2012.0,Yarra,-37.80170,145.00010,Northern Metropolitan,4019.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13525,Preston,61 Dundas St,3,h,910000.0,SP,Nelson,26/08/2017,8.4,3072.0,...,1.0,2.0,276.0,96.0,1965.0,NaN,-37.75277,145.00734,Northern Metropolitan,14577.0
13534,Rosanna,179 Beverley Rd,3,h,1224000.0,S,Nelson,26/08/2017,8.9,3084.0,...,1.0,2.0,609.0,124.0,1960.0,NaN,-37.74351,145.07965,Eastern Metropolitan,3540.0
13535,Rosanna,30 Phillips Cr,4,h,1426000.0,S,Nelson,26/08/2017,8.9,3084.0,...,2.0,4.0,621.0,NaN,1980.0,NaN,-37.73543,145.07004,Eastern Metropolitan,3540.0
13563,Thornbury,201 Gooch St,3,h,1271000.0,S,Nelson,26/08/2017,7.0,3071.0,...,1.0,2.0,470.0,151.0,1950.0,NaN,-37.75937,145.01534,Northern Metropolitan,8870.0
13567,Viewbank,149 Graham Rd,5,h,1316000.0,SP,Nelson,26/08/2017,8.9,3084.0,...,3.0,3.0,696.0,NaN,NaN,NaN,-37.73501,145.08341,Eastern Metropolitan,2698.0

In [10]:
data["SellerG"].unique()
data["SellerG"].map(lambda p:p+" Person")

# data.apply(func,axis='columns')
data["SellerG"].value_counts()

Nelson                     1565
Jellis                     1316
hockingstuart              1167
Barry                      1011
Ray                         701
                           ...
WHITEFOX                      1
Parkinson                     1
hockingstuart/Advantage       1
Private/Tiernan's             1
Nicholls                      1
Name: SellerG, Length: 268, dtype: int64

In [11]:
data.groupby("SellerG").SellerG.count()

SellerG
@Realty                   2
ASL                       4
Abercromby's             21
Ace                       2
Alexkarbon               40
                         ..
hockingstuart/Village     1
iOne                      1
iProperty                 1
iSell                    11
iTRAK                    13
Name: SellerG, Length: 268, dtype: int64

In [12]:
data.columns

Index(['Suburb', 'Address', 'Rooms', 'Type', 'Price', 'Method', 'SellerG',
       'Date', 'Distance', 'Postcode', 'Bedroom2', 'Bathroom', 'Car',
       'Landsize', 'BuildingArea', 'YearBuilt', 'CouncilArea', 'Lattitude',
       'Longtitude', 'Regionname', 'Propertycount'],
      dtype='object')

In [38]:
data.groupby("Type").Type.count()
data.Type.replace("h","y")
data.groupby("Type").Type.count()
data[data.Type.isnull()]

Empty DataFrame
Columns: [Suburb, Address, Rooms, Type, Price, Method, SellerG, Date, Distance, Postcode, Bedroom2, Bathroom, Car, Landsize, BuildingArea, YearBuilt, CouncilArea, Lattitude, Longtitude, Regionname, Propertycount]
Index: []

[0 rows x 21 columns]

In [30]:
data.groupby("Type").Type.count()

Type
h    9449
t    1114
u    3017
Name: Type, dtype: int64

In [48]:
data.rename(columns={'Type':'type'})
data.rename(Type={0:'hey',1="hey1"}) #work only if index is defined

SyntaxError: expression cannot contain assignment, perhaps you meant "=="? (<ipython-input-48-3e7db54a42f5>, line 2)

In [46]:
data['ype']

0        h
1        h
2        h
3        h
4        h
        ..
13575    h
13576    h
13577    h
13578    h
13579    h
Name: Type, Length: 13580, dtype: object